target/
build/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Allure ###
.allure

### Gradle ###
.gradle

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/